@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.lexend-deca-<uniquifier> {
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --secondary-color: #00baba;
  --font-primary-color: #010311;
  --font-secondary-color: #808188;
  --title-color: #ffffff;
  --text-grey: #d9d9d9;
  --tab-card-text: #aaabb0;
}

.extend-team-btn {
  margin-left: 11.25rem;
  width: 191px;
  height: 48px;
  gap: 0px;
  border: 1px solid var(--secondary-color);
  opacity: 0px;
  background-color: var(--secondary-color);
  border-radius: 0%;
  outline: none;
}
.blog-link-style {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.406rem;
  text-align: center;
  color: var(--font-secondary-color);
  margin-left: 5.5rem;
}
.get-hire-style {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.313rem;
  text-align: center;
  color: var(--title-color);
}
.nav-link:focus,
.nav-link:hover {
  color: var(--secondary-color) !important;
}

.header-style {
  position: fixed;
  background: transparent;
  width: 100%;
  z-index: 100;
}

.hero-section {
  background: linear-gradient(122.51deg, #060f66 3.32%, #020628 96.59%);
  height: 39rem;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 64.8px;
  letter-spacing: -0.02em;
  color: var(--title-color);
}
h1 span {
  color: var(--secondary-color);
}
.hero-p-text {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--title-color);
  width: 48.5rem;
  height: 4.25rem;
  opacity: 0.44;
}

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-section-style {
  margin-top: -80px;
}
.card-style {
  width: 216px;
  height: 83px;
  top: 152px;
  left: 1062px;
  gap: 0px;
  opacity: 0px;
}
.card-img-style {
  width: 73px;
  height: 81px;
  top: 153px;
  left: 1063px;
  gap: 0px;
  opacity: 0px;
  background-color: var(--secondary-color);
}
.header-style.scrolled {
  background-color: #061066b4;
}

.image-style {
  position: absolute;
  top: -195px;
}
.image-style img {
  width: 1296px;
}
.random-div-for-h {
  min-height: 25rem;
}
.count-text-style h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
  color: var(--font-primary-color);
}
.count-text-style > h2 > span {
  color: var(--secondary-color);
}

.count-text-style-p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.688rem;
  color: var(--font-secondary-color);
  max-width: 34.125rem;
  height: 3.375rem;
}

ul {
  list-style-type: none;
  padding-left: 20px;
}

.bullte-style {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: var(--font-primary-color);
}
.bullte-style-sec {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-color: var(--text-grey);
  margin-top: -25px;
}
.first-li-style {
  display: flex;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.2rem;
}
.sec-li-style {
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--text-grey);
  max-width: 34rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.first-li-text {
  font-size: 1.375rem;
  font-weight: 600;
  line-height: 36px;
  color: var(--font-primary-color);
  margin-left: 13px;
}

.se-li-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 2.225rem;
  margin-left: 0.813rem;
  max-width: 31.375rem;
  color: var(--text-grey);
}

.certi-image-style::before {
  top: 38px;
  content: url("./assets/Images/Group 427323011.png");
  position: absolute;
  left: 3px;
}
.certi-image-style::after {
  bottom: -55px;
  content: url("./assets/Images/Vector (2).png");
  position: absolute;
  right: 24px;
}
.consultant-text-style {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  max-width: 834px;
  opacity: 0px;
  color: var(--font-secondary-color);
  margin-top: 1.7rem;
}

.marquee-container {
  height: 5.875rem;
  overflow: hidden;
  line-height: 30px;
  background-color: var(--font-primary-color);
  color: var(--title-color);
  margin-bottom: 7rem;
  margin-top: 7rem;
}

.marquee {
  top: 25px;
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  animation: marquee 40s linear infinite;
}
.marquee > span {
  font-family: Lexend Deca;
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
  text-align: left;
}

.marquee2 {
  animation-delay: 15s;
}
b {
  padding-left: 5px;
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
.custom-border-tab {
  border-bottom: 2px solid var(--font-secondary-color) !important;
  display: flex;
}
.wrapper {
  margin: -60px auto;
  width: 100%;
  font-family: sans-serif;
  color: #555;
  font-size: 14px;
  line-height: 24px;
}

.tabs {
  margin-bottom: 3rem;
  li {
    float: left;
    width: 14%;
  }
  a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--font-secondary-color);
    padding: 12px 0;
    border-bottom: 2px solid var(--font-secondary-color);
    background: transparent;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;

    &:hover,
    &.active {
      background: var(--secondary-color);
      color: var(--font-primary-color);
      font-weight: 600;
    }
  }
}
/* .tabgroup {
  div {
    padding: 30px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  }
} */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.img-box {
  width: 55px;
  height: 55px;
  top: 2294px;
  left: 178px;
  gap: 0px;
  opacity: 0px;
  background-color: #00baba3d;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.img-box img {
  width: 22.46px;
  height: 29.02px;
}
.card-text-style {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
.tab-card-style {
  border-radius: 2px !important;
  border: 1px solid var(--tab-card-text) !important;
  max-width: 356px !important;
  height: 450px !important;
  transition: box-shadow 0.3s ease;
}

.tab-card-text-style {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--tab-card-text);
  max-width: 299px;
  max-height: 135px;
}
.tab-card-btn-style {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  text-decoration: none;
  color: var(--tab-card-text);
  width: 356px;
  height: 51px;
  display: inline-block;
  padding: 12px;
}
.card-body-btn-style {
  width: 356px;
  height: 51px;
  border: 1px 0px 0px 0px;
}

.tab-card-style:hover {
  border: 1px dashed var(--font-primary-color) !important;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  transition: color 0.3s ease;
}
.tab-card-style:hover .borderchange-style {
  border: 1px dashed var(--font-primary-color) !important;
  transition: color 0.3s ease;
}
.tab-card-style:hover .img-box {
  background-color: var(--secondary-color);
  transition: color 0.3s ease;
}
.tab-card-style:hover .card-text-style {
  font-weight: 700;
  transition: color 0.3s ease;
}
.tab-card-style:hover .tab-card-btn-style {
  background-color: #040a43;
  transition: color 0.3s ease;
  color: var(--title-color);
  text-decoration: underline;
}
.tab-card-style:hover .btn-small-style {
  width: 32px;
  height: 51px;
  display: inline-block;
  background-color: #00baba;
  position: absolute;
  right: 0;
  top: 0;
}

.speed-buss-text > h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 4rem;
  letter-spacing: -0.02em;
  color: var(--font-primary-color);
  max-width: 22.188rem;
  max-height: 12rem;
}
.speed-buss-text > h2 > span {
  color: var(--secondary-color);
}
.marketplace-text {
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 2.063rem;
  max-width: 39.938rem;
  max-height: 4.125rem;
  color: var(--font-secondary-color);
}

#slider {
  position: relative;
  width: 50%;
  height: 32vw;
  margin: 150px auto;
  font-family: "Helvetica Neue", sans-serif;
  perspective: 1400px;
  transform-style: preserve-3d;
}

input[type="radio"] {
  position: relative;
  top: 108%;
  left: 50%;
  width: 18px;
  height: 18px;
  margin: 0 15px 0 0;
  opacity: 0.4;
  transform: translateX(-83px);
  cursor: pointer;
}

input[type="radio"]:nth-child(5) {
  margin-right: 0px;
}

input[type="radio"]:checked {
  opacity: 1;
}

#slider label,
#slider label img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  color: white;
  font-size: 70px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}

/* Slider Functionality */
/* Active Slide */
#s1:checked ~ #slide1,
#s2:checked ~ #slide2,
#s3:checked ~ #slide3,
#s4:checked ~ #slide4,
#s5:checked ~ #slide5 {
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.3), 0 12px 6px rgba(0, 0, 0, 0.2);
  transform: translate3d(0%, 0, 0px);
}

/* Next Slide */
#s1:checked ~ #slide2,
#s2:checked ~ #slide3,
#s3:checked ~ #slide4,
#s4:checked ~ #slide5,
#s5:checked ~ #slide1 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(20%, 0, -100px);
}

/* Next to Next Slide */
#s1:checked ~ #slide3,
#s2:checked ~ #slide4,
#s3:checked ~ #slide5,
#s4:checked ~ #slide1,
#s5:checked ~ #slide2 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(40%, 0, -250px);
}

/* Previous to Previous Slide */
#s1:checked ~ #slide4,
#s2:checked ~ #slide5,
#s3:checked ~ #slide1,
#s4:checked ~ #slide2,
#s5:checked ~ #slide3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  transform: translate3d(-40%, 0, -1150px);
}

/* Previous Slide */
#s1:checked ~ #slide5,
#s2:checked ~ #slide1,
#s3:checked ~ #slide2,
#s4:checked ~ #slide3,
#s5:checked ~ #slide4 {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3), 0 2px 2px rgba(0, 0, 0, 0.2);
  transform: translate3d(-20%, 0, -590px);
}
/* CSS for arrows */
/* .arrow {
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  font-size: 30px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  line-height: 50px;
}

#prev {
  left: 10px;
}

#next {
  right: 10px;
} */
.ourconsulting-process {
  margin-top: 10rem;
  margin-bottom: 64px;
}
.custom-bg-color-style {
  max-height: 49.25rem;
  background: linear-gradient(122.51deg, #060f66 3.32%, #020628 96.59%);
}
.consulting-process-text > h2 {
  width: 356px;
  height: 96px;
  color: var(--title-color);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -0.02em;
}
.consulting-process-text > p {
  max-width: 356px;
  max-height: 81px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--font-secondary-color);
  padding-bottom: 20.8rem;
}
.style-h2-for-padding {
  padding-top: 9rem;
}
/* ------------------------------------------------------------------------------------------------------------- */
/* //media queries// */
@media (max-width: 1399.98px) {
}

@media (max-width: 1199.98px) {
  .image-style img {
    width: 100%;
  }
  .extend-team-btn {
    margin-left: 0.25rem;
    width: 100%;
    font-size: 0.9rem;
  }
  li.nav-item a {
    font-size: 0.825rem;
  }
  .hero-p-text {
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    width: 100%;
    height: 4.25rem;
    opacity: 0.44;
  }
  h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: -0.02em;
    color: var(--title-color);
  }
  .navbar-toggler {
    background-color: #e7dbdb !important;
  }
  .blog-link-style {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.406rem;
    text-align: center;
    color: var(--font-secondary-color);
    margin-left: 0;
  }
}
@media (max-width: 991.98px) {
  .image-style {
    position: relative;
    top: -90px;
  }
  .header-style {
    background: #050c4e;
  }
  .certi-image-style::before {
    display: none;
  }
  .certi-image-style::after {
    display: none;
  }
  .random-div-for-h {
    min-height: 0rem;
  }
  .tabs {
    margin-bottom: 3rem;
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--font-secondary-color);
      padding: 12px 0;
      border-bottom: 2px solid var(--font-secondary-color);
      background: transparent;
      font-size: 10px;
      font-weight: 400;
      line-height: 22px;

      &:hover,
      &.active {
        background: var(--secondary-color);
        color: var(--font-primary-color);
        font-weight: 600;
      }
    }
  }
  .consulting-process-text > h2 {
    width: 100%;
  }
  .consulting-process-text > p {
    max-width: 356px;
    max-height: 81px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--font-secondary-color);
    padding-bottom: 0.8rem;
  }
  #slider {
    width: 66%;
    height: 40vw;
    margin: 10px auto;
    transform-style: preserve-3d;
  }
  .speed-buss-text > h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3.45rem;
  }
  .tab-card-text-style {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
  }
  .tab-card-style {
    height: 343px !important;
  }
  .tab-card-btn-style {
    width: 310px;
  }
}
@media (max-width: 767.98px) {
  .image-style {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .hero-section {
    height: 53rem;
  }
  ul.square-bullets {
    margin-top: 5rem;
  }
  .count-text-style h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-align: center;
  }
  .consultant-text-style {
    text-align: center !important;
    margin-top: 3.7rem;
  }
  .speed-buss-text > h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 4rem;
    letter-spacing: -0.02em;
    color: var(--font-primary-color);
    width: 100%;
    max-height: 100%;
    text-align: center;
  }
  .speed-buss-text {
    text-align: center !important;
    display: flex;
    justify-content: center;
  }
  .wrapper {
    margin: 75px auto;
  }
  .wrapper .tabs li {
    float: center;
    width: 100%;
  }
  .tab-card-btn-style {
    width: 100% !important;
    height: 51px;
    display: inline-block;
    padding: 12px;
  }
  .consulting-process-text > h2 {
    width: 100%;
  }
  .tabs {
    margin-bottom: 3rem;
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--font-secondary-color);
      padding: 12px 0;
      border-bottom: 2px solid var(--font-secondary-color);
      background: transparent;
      font-size: 10px;
      font-weight: 400;
      line-height: 22px;

      &:hover,
      &.active {
        background: var(--secondary-color);
        color: var(--font-primary-color);
        font-weight: 600;
      }
    }
  }

  .resposive-style {
    margin-top: 5rem;
  }
  .count-text-style-p {
    text-align: center !important;
  }
  .marketplace-text {
    text-align: center;
  }
  .first-li-text {
    font-size: 0.8rem;
    font-weight: 600;
  }
  .se-li-text {
    font-size: 0.7rem;
    line-height: 1rem;
    margin-left: 0.813rem;
    max-width: 31.375rem;
    color: var(--text-grey);
  }
  .tab-card-text-style {
    font-size: 13px;
    font-weight: 400;
    line-height: 27px;
    color: var(--tab-card-text);
    max-width: 299px;
    max-height: 135px;
  }
  .consulting-process-text > p {
    max-width: 356px;
    max-height: 81px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: var(--font-secondary-color);
    padding-bottom: 0.8rem;
  }
  #slider {
    width: 66%;
    height: 60vw;
    margin: 50px auto;
    transform-style: preserve-3d;
  }
  .ourconsulting-process {
    margin-top: 5rem;
    margin-bottom: 64px;
  }
  .style-h2-for-padding {
    padding-top: 2rem;
  }
  .random-div-for-h {
    min-height: 8rem;
  }
}

@media (max-width: 575.98px) {
}
